@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

/* Customize your tailwind theme variables  */
@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* fonts */
  --font-generalSans: var(--font-generalSans), sans-serif;
  --font-satoshi: var(--font-satoshi), sans-serif;

  /* breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-tab: 967px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xl2: 1380px;
  --breakpoint-2xl: 1536px;
}

/* Add tailwind utilities */
@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-size: 10px; 
  letter-spacing: 0px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

.logoBanner .caption{
  transform: translateY(50px);
  animation: logoCaptionAnime 3s ease-in-out 1 forwards 3.5s;
}
@keyframes logoCaptionAnime{
  0%{
    transform: translateY(50px);
  }
  40%{
    transform: translateY(0px);
  }
  80%{
    transform: translateY(0px);
  }
  99%{
    transform: translateY(-50px);
    display: block;
    opacity: 1;
  }
  100%{
    transform: translateY(-50px);
    display: none;
    opacity: 0;
  }
}

/* logo svg animation */

.logoSvgContainer.animate svg path{
  fill: transparent;
  stroke: #FFFFFF;
  stroke-width: 0.2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: mainBannerLogoAnime 5s ease-in-out 1 forwards;
}
@keyframes mainBannerLogoAnime{
  0%{
    stroke-dashoffset: 1000;
  }
  60%{
    fill: transparent;
  }
  100%{
    fill: #FFFFFF;
    stroke-dashoffset: 0;
  }
}

.logoSvgContainer{
  /* bottom: 5px; */
  top: 60%;
  animation: logoSvgContainerAnime 2s ease-out 1 forwards 6s;
}
@keyframes logoSvgContainerAnime{
  0%{
    top: 60%;
  }
  100%{
    top: 1%;
  }
}

.logoSvgContainer svg{
  width: 1321px;
  height: 331px;
  animation: logoSvgAnime 2s ease-out 1 forwards 6s;
}
@keyframes logoSvgAnime{
  0%{
    width: 1321px;
    height: 331px;
  }
  100%{
    width: 217px;
    height: 63px;
  }
}
.blackBanner{
  opacity: 1;
  animation: blackBannerAnime 1s ease-out 1 forwards 7s;
}
@keyframes blackBannerAnime{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}