@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --greenLight: #66D575;
  --greyText: #838383;
}

/* Customize your tailwind theme variables  */
@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-greenLight: var(--greenLight);
  --color-greyText: var(--greyText);

  /* fonts */
  --font-generalSans: var(--font-generalSans), sans-serif;
  --font-satoshi: var(--font-satoshi), sans-serif;
  --font-manrope: var(--font-manrope), sans-serif;

  /* breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-tab: 967px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xl2: 1380px;
  --breakpoint-2xl: 1536px;
}

/* Add tailwind utilities */
@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility bigTitle {
  @apply text-[5rem] tracking-[-0.5px] font-generalSans font-[500] leading-[5.5rem];
}

@utility bigTitleBold {
  @apply text-[6rem] tracking-[-0.5px] font-generalSans font-[600] leading-[6.5rem];
}

@utility web-h1 {
  @apply text-[3rem] tracking-[-0.5px] font-satoshi font-[700] leading-[3.4rem];
}

@utility web-p1 {
  @apply text-[2.8rem] tracking-[-0.5px] font-generalSans leading-[3.4rem];
}

@utility web-p2 {
  @apply text-[2rem] tracking-[-0.2px] font-generalSans leading-[2.6rem];
}

@utility web-p3 {
  @apply text-[1.8rem] tracking-[-0.2px] font-generalSans leading-[2.4rem];
}

@utility web-h2 {
  @apply text-[4rem] tracking-[-0.2px] font-generalSans font-[700] leading-[4.4rem];
}

@utility web-h3 {
  @apply text-[2.2rem] tracking-[-0.2px] font-generalSans font-[700] leading-[2.8rem];
}

@utility text-box-trim {
  text-box-edge: cap alphabetic;
  text-box-trim: trim-both;
}

html {
  font-size: 10px; 
  letter-spacing: 0px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), sans-serif;
}

input:focus,
button:focus{
  outline: 0;
}

.fromDown {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-out;
}
.onlyMobile.fromDown {
  opacity: 1;
  transform: translateY(0);
}
.fromDown.animate {
  opacity: 1;
  transform: translateY(0);
}

.fromLeft {
  opacity: 0;
  transform: translate(-30px, 100px);
  transition: all 0.6s ease-out;
}
.fromLeft.animate {
  opacity: 1;
  transform: translate(0, 0);
}

.fromRight {
  opacity: 0;
  transform: translate(30px, 100px);
  transition: all 0.6s ease-out;
}
.fromRight.animate {
  opacity: 1;
  transform: translate(0, 0);
}


.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sectionUnderline::after {
  content: "";
  position: absolute;
  left: 7.5%;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: var(--foreground);
  transition: width 0.5s ease-out;
}
.sectionUnderline.sectionUnderlineActive::after {
  width: 85%;
}

.mainLogo span {
  transform: translateY(400px);
  display: inline-block;
}
.active .mainLogo span{
  animation: mainLogoCharsAnime 0.5s ease-out 1 forwards;
}

@keyframes mainLogoCharsAnime {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(0);
  }
}

.blackBanner{
  opacity: 1;
  animation: blackBannerAnime 1s ease-out 1 forwards 2.8s;
}
@keyframes blackBannerAnime{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.logoBanner .caption{
  transform: translateY(50px);
  animation: logoCaptionAnime 2.5s ease-in-out 1 forwards 0.3s;
}
@keyframes logoCaptionAnime{
  0%{
    transform: translateY(50px);
  }
  40%{
    transform: translateY(0px);
  }
  80%{
    transform: translateY(0px);
  }
  99%{
    transform: translateY(-50px);
    display: block;
    opacity: 1;
  }
  100%{
    transform: translateY(-50px);
    display: none;
    opacity: 0;
  }
}

.footer .logoContainer .caption{
  transform: translateY(50px);
}

.footer.active .logoContainer .caption{
  animation: logoCaptionAnime2 2.5s ease-in-out 1 forwards 0.3s;
}
@keyframes logoCaptionAnime2{
  0%{
    transform: translateY(50px);
  }
  40%{
    transform: translateY(0px);
  }
  80%{
    transform: translateY(0px);
  }
  99%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(0px);
  }
}


.logoBanner.active .logoContainer {
  /* font-size: 340px; */
  scale: 1;
  animation: logoSpanShrink 1s ease-in-out 1 forwards 2.2s;
}

@keyframes logoSpanShrink {
  from {
    scale: 1;
    top: calc(100% - 380px);
  }
  to {
    scale: 0.18;
    top: -16%;
  }
}

/* logo svg animation */

/* .logoSvgContainer.animate svg path{
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 0.2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: mainBannerLogoAnime 5s ease-in-out 1 forwards;
}
@keyframes mainBannerLogoAnime{
  0%{
    stroke-dashoffset: 1000;
  }
  60%{
    
  }
  100%{
    fill: #FFFFFF;
    stroke-dashoffset: 0;
  }
}

.logoSvgContainer{
  top: 60%;
  animation: logoSvgContainerAnime 2s ease-out 1 forwards 6s;
} */

/* @keyframes logoSvgContainerAnime{
  0%{
    top: 60%;
  }
  100%{
    top: 1%;
  }
}

.logoSvgContainer svg{
  width: 1321px;
  height: 331px;
  animation: logoSvgAnime 2s ease-out 1 forwards 6s;
} */

.brandIcons .brandIconsList img{
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.brandIcons .brandIconsList.activeList img{
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

@keyframes logoSvgAnime{
  0%{
    width: 1321px;
    height: 331px;
  }
  100%{
    width: 217px;
    height: 63px;
  }
}


.animate-bounce-pop {
  animation: bounce-pop 0.6s ease-out forwards;
}

@keyframes bounce-pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  30% {
    opacity: 1;
    transform: scale(3);
  }
  60% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-hover:hover {
  animation: rotateClockwise 5s linear infinite;
}

@media screen and (max-width: 1024px) {
  .onlyMobile.fromDown {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
  }
  .onlyMobile.fromDown.animate {
    opacity: 1;
    transform: translateY(0);
  }
}